<title>We are not a cult</title>
<link rel="stylesheet" href="./css/style-register.css">
<div class="form">

    <ul class="register-menu">
        <div class="button button-block"><a href="/register">Sign Up</a></div>
        <div class="button button-block"><a href="/login">Log In</a></div>
        <div class="button button-block"><a href="/">Back</a></div>
    </ul>

    <div class="tab-content">
        <form action="/register" method="POST">

            <div class="top-row">
                <label class="field-wrap">
                    <label for="name">
                        Human Name
                    </label>
                    <input type="text" autocomplete="off" id="name" name="name" value="{{formdata.name}}" />
                    {{#each arrwarnings}}
                    {{#if isname}}
                    <p class="fbtxt">{{msg}}</p>
                    {{/if}}
                    {{/each}}
                </label>
                <label class="field-wrap">
                    <label for="bearname">
                        Bear Name *
                    </label>
                    <input type="text" required autocomplete="off" id="bearname" name="bearname"
                        placeholder="this is you now..." value="{{formdata.bearname}}" />
                    {{#each arrwarnings}}
                    {{#if isbearname}}
                    <p class="fbtxt">{{msg}}</p>
                    {{/if}}
                    {{/each}}
                </label>
            </div>
            <label class="field-wrap">
                <label for="email">
                    Email Address *
                </label>
                <input id="email" type="text" required autocomplete="off" name="email" value="{{formdata.email}}" />
                {{#each arrwarnings}}
                {{#if isemail}}
                <p class="fbtxt">{{msg}}</p>
                {{/if}}
                {{/each}}
            </label>

            <label class="field-wrap">
                <label for="password">
                    Set A Password *
                </label>
                <input id="password" type="password" name="password" required autocomplete="off"
                    value="{{formdata.password}}" />
                {{#each arrwarnings}}
                {{#if ispassword}}
                <p class="fbtxt">{{msg}}</p>
                {{/if}}
                {{/each}}
            </label>

            <button type="submit" class="button button-block" />Get Started</button>

        </form>
        {{#if bearname}}
        <p class="fb1">Welcome <span class="fb2">{{bearname}}</span> you can now log in</p>
        {{/if}}
    </div>
</div>